@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

/* Globales */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background: #cc4c11;
  background: linear-gradient(to right, #1d1d1d, #3d2770);
}

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #ffffff;
}

.icon-cart:hover {
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 40px 0;
}

h1 {
  margin-left: 30px;
  font-family: 'Slabo 27px', serif;
  color: #ffffff;
}

.container-icon {
  position: relative;
  margin-right: 30px;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #ffffff;
  color: #000000;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
  font: bold;
}

.container-cart-icon {
  cursor: pointer;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #ffffff;
  width: 450px;
  z-index: 1;
  box-shadow: 0px 10px 20px rgba(0, 0, 0);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 3px solid #520f9141;
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
  margin-top: 18px;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 3px;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
}

.btn-footer {
  width: 30%;
  background-color: #242129;
  color: #fff;
  padding: 15px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.hidden-cart {
  display: none;
}

/* FIN HEADER */

/* MAIN */

.container-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}

.card:hover img {
  transform: scale(1.2);
}

.cart-empty {
  padding-top: 20px;
  text-align: center;
}

.footer {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.footer > p {
  color: white;
  font-size: 15px;
}
